@using System.Activities.Statements
@using Microsoft.AspNet.Identity
@using eWalletApplication.Models
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- DataTable -->"
    <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css" rel="stylesheet"/>


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    @Scripts.Render("~/bundles/jquery")
    @{
        string successMessage = ViewBag.SuccessMessage;
        string errorMessage = ViewBag.ErrorMessage;
        var IncomeCategories = ViewBag.Incomecategories;
        var OutcomeCategories = ViewBag.Outcomecategories;

    }
    <style>
        .text-info {
            color: #37897E !important;
        }

        .btn-info {
            background-color: #3E9B8F !important;
        }
    </style>

</head>



<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" class="" style="opacity: 0.9;">
            <div class="sidebar-header">
                <a href="/Home/Index/0">
                    <img src="~/Images/logo_light_1.png" class="img-fluid" />
                </a>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/Home/Index/0"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-credit-card"></i> Accounts</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        @if (ViewBag.Accounts != null)
                        {
                            <li>
                                <a href="/Home/Index/0"><i class="fas fa-money-check"></i> All Accounts</a>

                            </li>
                            foreach (var a in ViewBag.Accounts)
                            {
                                <li>
                                    <a href="/Home/Index/@a.Id"><i class="@a.Icon.Name"></i> @a.Name </a>

                                </li>
                            }
                        }

                        <li>
                            <div class="row m-0">
                                <a href="/Home/AddAccount" class="text-center col"><i class="fas fa-plus"></i></a>
                                <a href="/Home/Retrieve" class="text-center col"><i class="fas fa-reply"></i></a>
                            </div>

                        </li>
                    </ul>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-book"></i> Categories</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li class="">
                                <div class="row m-0">
                                    <a href="#" class="col-8">Income</a>
                                    <a href="/Income/AddIncomeCategory" class="text-center col"><i class="fas fa-plus"></i></a>

                                </div>
                            </li>
                            @if (IncomeCategories != null)
                            {
                                foreach (IncomeCategory category in IncomeCategories)
                                {
                                    <li>
                                        <a href="/Income/EditIncomeCategory/@category.Id"><i class="@category.Icon.Name ml-3"></i> @category.Name</a>
                                    </li>
                                }
                            }
                            <li class="">
                                <div class="row m-0">
                                    <a href="#" class="col-8">Outcome</a>
                                    <a href="/Outcome/AddOutcomeCategory" class="text-center col"><i class="fas fa-plus"></i></a>

                                </div>
                            </li>
                            @if (OutcomeCategories != null)
                            {
                                foreach (OutcomeCategory category in OutcomeCategories)
                                {
                                    <li>
                                        <a href="/Outcome/EditOutcomeCategory/@category.Id" class=""><i class="@category.Icon.Name ml-3"></i> @category.Name</a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </li>

                <div class="list-unstyled">
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="/Manage"><i class="fas fa-user"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-cog"></i> Settings</a>
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        }
                    </li>
                </div>


            </ul>

        </nav>
        <!-- Page Content Holder -->
        <div id="content" class="container-fluid p-0 ">
            <header class="m-4 shadow sticky-top mt-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="text-dark">
                            @{
                                DateTime now = DateTime.Now;

                            }
                            @now.ToString("MMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))
                        </div>
                        <div>

                            <ul class="nav">

                                <li class="nav-item mx-3">
                                    <a href="/Income/AddIncome" class="lead text-info"><i class="fas fa-plus"></i></a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a href="/Outcome/AddOutcome" class="lead text-danger"><i class="fas fa-minus"></i></a>
                                </li>
                            </ul>
                        </div>






                    </div>
                </nav>
            </header>


            <main class="container-fluid p-4" style="min-height:700px">
                @if (successMessage != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @successMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @if (errorMessage != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @errorMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                @RenderBody()

            </main>

            <footer class="footer p-5 bg-dark">
                <p>&copy; @DateTime.Now.Year - eWallet Application</p>
            </footer>

        </div>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        @Scripts.Render("~/bundles/bootstrap")

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/Vendor/metisMenu/metisMenu.min.js"></script>


        <!-- Data Table js-->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>


        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#dataTable').DataTable();

            });
            $(document).ready(function () {
                $('#retrieve').DataTable();
            });
        </script>

</body>

</html>
