@using System.Activities.Statements
@using Microsoft.AspNet.Identity
@using eWalletApplication.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom CSS -->

    <!-- Morris Charts CSS -->
    <link href="/Vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    @Scripts.Render("~/bundles/jquery")
    @{ 
        string successMessage = ViewBag.SuccessMessage;
        string errorMessage = ViewBag.ErrorMessage;
        var IncomeCategories = ViewBag.Incomecategories;
        var OutcomeCategories = ViewBag.Outcomecategories;

    }

</head>



<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" class="" style="opacity: 0.9">
            <div class="sidebar-header">
                <a href="http://localhost:58194">
                    <img src="~/Images/logo_light_1.png" class="img-fluid" />
                </a>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="http://localhost:58194"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-credit-card"></i> Accounts</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        @if (ViewBag.Accounts != null)
                        {
                            <li>
                                <a href="/Home/Index/0"><i class="fas fa-money-check"></i> All Accounts</a>
                                
                            </li>
                            foreach (var a in ViewBag.Accounts)
                            {
                                <li>
                                    <a href="/Home/Index/@a.Id"><i class="@a.Icon.Name"></i> @a.Name </a>
                                    
                                </li>
                            }
                        }

                        <li>
                            <div class="row m-0">
                                <a href="/Home/AddAccount" class="text-center col"><i class="fas fa-plus"></i></a>
                                <a href="/Home/Retrieve" class="text-center col" ><i class="fas fa-reply"></i></a>
                            </div>
                            
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-book"></i> Categories</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li class="">
                                <div class="row m-0">
                                    <a href="#" class="col-8">Income</a>
                                    <a href="/Income/AddIncomeCategory" class="text-center col"><i class="fas fa-plus"></i></a>
                                    
                                </div>
                            </li>
                            @if (IncomeCategories != null)
                            {
                                foreach (IncomeCategory category in IncomeCategories)
                                {
                                    <li>
                                        <a href="/Income/EditIncomeCategory/@category.Id" ><i class="@category.Icon.Name ml-3"></i> @category.Name</a>
                                    </li>
                                }
                            }
                            <li class="">
                                <div class="row m-0">
                                    <a href="#" class="col-8">Outcome</a>
                                    <a href="/Outcome/AddOutcomeCategory" class="text-center col"><i class="fas fa-plus"></i></a>
                                   
                                </div>
                            </li>
                            @if (OutcomeCategories != null)
                            {
                                foreach (OutcomeCategory category in OutcomeCategories)
                                {
                                    <li>
                                        <a href="/Outcome/EditOutcomeCategory/@category.Id" class=""><i class="@category.Icon.Name ml-3"></i> @category.Name</a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </li>

                <div class="list-unstyled">
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="/Manage"><i class="fas fa-user"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-cog"></i> Settings</a>
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        }
                    </li>
                </div>


            </ul>

        </nav>
        <!-- Page Content Holder -->
        <div id="content" class="container-fluid p-0">
            <header class="m-4 shadow sticky-top mt-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <button class="btn btn-light d-inline-block d-md-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="nav navbar-nav ml-auto">

                                <li class="nav-item mx-3">
                                    <a href="/Income/AddIncome" class="lead text-success" style="font-size:large"><i class="fas fa-plus"></i></a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a href="/Outcome/AddOutcome" class="lead text-danger " style="font-size:large"><i class="fas fa-minus"></i></a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a href="#" title="Make tranfer" class="lead text-muted mr-3"><i class="fas fa-exchange-alt"></i></a>
                                </li>
                            </ul>
                        </div>






                    </div>
                </nav>
            </header>


            <main class="container-fluid p-4" style="min-height:700px">
                @if (successMessage != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @successMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @if (errorMessage != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @errorMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                @RenderBody()

            </main>

            <footer class="footer p-5 bg-dark">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>

        </div>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        @Scripts.Render("~/bundles/bootstrap")

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/Vendor/metisMenu/metisMenu.min.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="/Vendor/raphael/raphael.min.js"></script>

        <script src="/Vendor/morrisjs/morris.min.js"></script>
        <script src="/Home/MorrisData></script>
        <!-- Custom Theme JavaScript -->
        <script src="/dist/js/sb-admin-2.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>


        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#dataTable').DataTable();

            });
            $('tr[data-href]').on("click", function () {
                document.location = $(this).data('href');
            });
        </script>

</body>

</html>
