@using eWalletApplication.Models
@using System.Globalization
@{
    ViewBag.Title = "Home Page";
    var Account = ViewBag.Account;

    var Incomes = ViewBag.Incomes;
    var Outcomes = ViewBag.Outcomes;
}




<div class="container p-4 mx-auto">

    @if (Account != null)
    {
        <div class="col-xs-12 col-sm-10 col-lg-6 col-md-8 col-xl-4">

            <div class="card text-white bg-info mb-3" style="opacity: 0.75">
                <div class="card-header">
                   
                    <form action="/Home/DeleteAccount" method="post" class="row" id="account-delete-form">
                        <div class="col">@Account.Name</div>
                        
                        <div class="col-2"><a href="/Home/EditAccount/@Account.Id" ><i class="fas fa-pen"></i> </a></div>
                        <div class="col-2"><a href="#"  onclick="document.getElementById('account-delete-form').submit();"><i class="fas fa-trash"></i></a></div>
                        
                        <input value="@Account.Id" name="Id" style="display:none" />
                    </form>
                </div>
                <div class="card-body">
                    <h5 class="card-title display-4"><i class="@Account.Icon.Name"></i> $ @Account.Balance</h5>

                </div>
                                         
            </div>
        </div>
        <hr />


    }



    <!-- /.row -->
    <div class="row my-3">
        <div>
            <h1 class="lead"><i class="fas fa-chart-area"></i> Dashboard</h1>
        </div>

        <hr class="shadow my-3" />
        <div class="col-12 p-0">
            <div class="panel panel-default">
                <div class="panel-heading">


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body mt-5">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <hr class="shadow my-3" />

    <div class="row my-3">
        <div>
            <h1 class="lead"><i class="fas fa-table"></i> Table</h1>
        </div>
        <hr class="shadow" />
        <div class="col p-0 mt-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body p-0">
                    <table class="table bg-white p-0 display responsive nowrap" cellspacing="0" width="100%" id="dataTable" data-order='[[ 2, "asc" ]]'>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Value</th>
                                <th>Date</th>
                                <th>Notes</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Incomes != null)
                            {
                                foreach (Income i in Incomes)
                                {
                            <tr class="text-success">
                                <td>
                                    <i class="@i.Category.Icon.Name"></i>
                                    @i.Category.Name
                                  
                                </td>
                                <td>
                                    <a href="/Income/EditIncome/@i.Id">

                                        @i.Value
                                    </a>
                                </td>
                                <td>
                                    @i.Date.ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))
                                </td>
                                <td  class="one">
                                    @i.Notes
                                </td>


                            </tr>

                                }
                            }
                            @if (Outcomes != null)
                            {
                                foreach (Outcome o in Outcomes)
                                {
                            <tr class="text-danger" data-href="/Outcome/EditOutcome/@o.Id" style="cursor:pointer">
                                <td>
                                    <i class="@o.Category.Icon.Name"></i>
                                    @o.Category.Name

                                </td>
                                <td>
                                    <a href="/Outcome/EditOutcome/@o.Id">
                                        @o.Value
                                    </a>
                                </td>
                                <td>
                                    @o.Date.ToString("dd MMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))
                                </td>
                                <td class="one">
                                    @o.Notes
                                </td>

                            </tr>

                                }
                            }



                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>


</div>




