@using eWalletApplication.Models
@using System.Globalization
@{
    ViewBag.Title = "Home Page";
    var Account = ViewBag.Account;

    var Incomes = ViewBag.Incomes;
    var Outcomes = ViewBag.Outcomes;
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css" />



<div class="container p-4 mx-auto">

    @if (Account != null)
    {
        <div class="col-xs-12 col-sm-10 col-lg-6 col-md-8 col-xl-4">

            <div class="card text-white bg-info mb-3" style="opacity: 0.75">
                <div class="card-header">
                   
                    <form action="/Home/DeleteAccount" method="post" class="form-inline" id="account-delete-form">
                        <div class="col-8 ">@Account.Name</div>
                        <input value="@Account.Id" name="Id" style="display:none" />
                        <a href="/Home/EditAccount/@Account.Id" class="col"><i class="fas fa-pen"></i> </a>
                        <a href="#" class="col" onclick="document.getElementById('account-delete-form').submit();"><i class="fas fa-trash"></i></a>
                    </form>
                </div>
                <div class="card-body">
                    <h5 class="card-title display-4"><i class="@Account.Icon.Name"></i> $ @Account.Balance</h5>

                </div>
                                         
            </div>
        </div>
        <hr />


    }



    <!-- /.row -->
    <div class="row my-3">
        <div>
            <h1 class="lead"><i class="fas fa-chart-area"></i> Dashboard</h1>
        </div>

        <hr class="shadow my-3" />
        <div class="col-12 p-0">
            <div class="panel panel-default">
                <div class="panel-heading">


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body mt-5">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <hr class="shadow my-3" />

    <div class="row my-3">
        <div>
            <h1 class="lead"><i class="fas fa-table"></i> Table</h1>
        </div>
        <hr class="shadow" />
        <div class="col p-3 mt-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-hover bg-white" id="dataTable" data-order='[[ 3, "asc" ]]'>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Value</th>
                                <th>Notes</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Incomes != null)
                            {
                                foreach (Income i in Incomes)
                                {
                                    <tr class="text-success" data-href="/Income/EditIncome/@i.Id" style="cursor:pointer">
                                        <td>
                                            <i class="@i.Category.Icon.Name"></i>
                                            @i.Category.Name
                                        </td>
                                        <td class="text-center">
                                            @i.Value
                                        </td>
                                        <td>
                                            @i.Notes
                                        </td>
                                        <td>
                                            @i.Date.ToString("dddd dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))
                                        </td>

                                    </tr>

                                }
                            }
                            @if (Outcomes != null)
                            {
                                foreach (Outcome o in Outcomes)
                                {
                                    <tr class="text-danger" data-href="/Outcome/EditOutcome/@o.Id" style="cursor:pointer">
                                        <td>
                                            <i class="@o.Category.Icon.Name"></i>
                                            @o.Category.Name
                                        </td>
                                        <td class="text-center">
                                            @o.Value
                                        </td>
                                        <td>
                                            @o.Notes
                                        </td>
                                        <td>
                                            @o.Date.ToString("dddd dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))
                                        </td>

                                    </tr>

                                }
                            }



                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>


</div>




