@model eWalletApplication.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" })) {
            @Html.AntiForgeryToken()

            String AuthClass = "";
            HtmlString AuthIcon = new HtmlString("");

            foreach (AuthenticationDescription p in loginProviders)
            {

                if (p.AuthenticationType == "Google")
                {
                    AuthClass = "btn btn-lg btn-google btn-block text-uppercase";
                    AuthIcon = new HtmlString("<i class='fa fa-google-plus'></i>");

                }
                else if (p.AuthenticationType == "Facebook")
                {
                    AuthClass = "btn btn-lg btn-facebook btn-block text-uppercase";
                    AuthIcon = new HtmlString("<i class='fa fa-facebook'></i>");
                }
                <button type="submit" class="@AuthClass" id="@p.AuthenticationType" name="provider" title="Log in using your @p.Caption account" value="@p.AuthenticationType">@AuthIcon Sign in with @p.AuthenticationType</button>
             }
            
        }
    }
}
